<div class="detail-container">
  <div class="detail-item">
    <img src={{product.url}}>
  </div>
  <div class="info-prod">
    <h3>{{product.name}}</h3>
    <p>${{product.price}}</p>
    <p>{{product.description}}</p>
    <select class="form-select select-input" [(ngModel)]="selectedAmount">
      <option *ngFor="let item of [].constructor(maxProdAmount); let i = index">{{i + 1}}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="onAdd()">Add to cart</button>
    <div class="back-link"><a routerLink="/products">Back to product list</a></div>
  </div>
</div>
